*{
    font-family: monospace;
}

body{
    background-color: lightgray;
}

div{
    margin: auto;
    background-color: white;
}

h1{
    color:black;
}

p, label{
    color:black;
}

h1{
    text-align: center;
}

select {
    color:black;
    padding: 5px;
    display: block;
    margin: 10px auto;
}

input{
    background-color: white;
    color:black;
    padding: 4px;
    margin: 5px;
}

button{
    background-color: black;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.362);
}

.container{
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.321);
    border-radius: 4px;
    width: 300px;
    text-align: center;
}

#res{
    margin-top: 7px;
    color:black;
}

span{
    color:red;
}

a{
    text-decoration: none;
    color:black;
}


footer{
    text-align: center;
    margin-top: 5px;
}
